/* Enter your Styles below! */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #302d26;
}
.topnav{
    text-align: right;
    font-family: "ovo", serif;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #5d5736;
}
body {
  background-color: #bfa99d;
}
h1 {
        color: #302d26;
        text-align: center;
    }
h1 {
        font-family: "Ovo", serif;
        font-size: 60px;
    }
h2 {
        color: #302d26;
        text-align: center;
    }
h2 {
        font-family: "ovo", serif;
        font-size: 60px;
    }
p {
    color: #302d26;
    text-align: center;
    background: #bfa99d;
    padding: 30px;
    width: 1000px;
    margin: 0 auto;
}
h3 {
    font-family: "Quattrocento Sans", sans-serif; 
    font-size: 20px;
    color: #302d26;
    text-align: center;
    background: #bfa99d;
    padding: 30px;
    width: 1000px;
    margin: 0 auto;
}
p {
    font-family: "Quattrocento Sans", sans-serif; 
    font-size: 20px;
}
.margin-top-10 {
    padding-top: 20px;
}
.line-break {
    border-bottom: 3px solid black;
    width: 300px;
    margin: 0 auto;
}
