/* Enter your Styles below! */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.topnav {
  display: flex;
  background-color: #333;
  color: #ffffff;
  justify-content: space-between;
}

.topnav ul {
  display: flex;
}
.logo {
  padding: 30px;
}
.logo h1 {
  white-space: nowrap;
}

li {
}

li a {
  display: block;
  color: white;
  padding: 30px;
  text-decoration: none;
}

li a:hover {
  background-color: pink;
}
